* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background-color: #e0f7fa;
  }
  
  .app {
    background-color: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
  }
  
  .app h1 {
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid green;
    padding-bottom: 30px;
  }
  
  .quiz h2 {
    font-size: 22px;
    font-weight: 600;
  }
  
  .btn {
    background-color: #f8f9fa;
    color: black;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    border: 2px solid grey;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover:not([disabled]) {
    background-color: #0288d1;
    color: white;
  }
  
  .btn:disabled {
    cursor: no-drop;
  }
  
  #nextBtn {
    background-color: #0277bd;
    color: white;
    font-weight: 500;
    font-size: 20px;
    width: 150px;
    border: none;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
  }
  
  .correct {
    background-color: green;
    color: white;
  }
  
  .incorrect {
    background-color: red;
    color: white;
  }
  